# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Pikachu\Documents\Barış\Yazılım-Tasarım Works\Yazılım\Covid19-Patients-Information-System\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
